In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('CKD.csv')

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset = pd.get_dummies(dataset,drop_first = True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
dataset['classification_yes'].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [8]:
indep = dataset[['age', 'al', 'su', 'bgr', 'sc', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'dm_yes']]
dep = dataset['classification_yes']

In [9]:
indep.shape

(399, 19)

In [10]:
indep

,age,al,su,bgr,sc,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,pcc_present,ba_present,dm_yes
0,2.000000,3.0,0.0,148.112676,3.077356,4.627244,12.518156,38.868902,8408.191126,4.705597,0,1,0,0,1,0,0,0,0
1,3.000000,2.0,0.0,148.112676,0.700000,4.627244,10.700000,34.000000,12300.000000,4.705597,0,1,0,0,1,1,0,0,0
2,4.000000,1.0,0.0,99.000000,0.600000,4.400000,12.000000,34.000000,8408.191126,4.705597,0,0,0,0,1,1,0,0,0
3,5.000000,1.0,0.0,148.112676,0.700000,3.200000,8.100000,38.868902,8408.191126,4.705597,0,0,1,0,1,1,0,0,0
4,5.000000,0.0,0.0,148.112676,0.600000,4.627244,11.800000,36.000000,12400.000000,4.705597,0,1,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,0.0,0.0,219.000000,1.300000,3.700000,12.500000,37.000000,9800.000000,4.400000,0,0,0,0,1,1,0,0,0
395,51.492308,0.0,2.0,220.000000,2.800000,4.627244,8.700000,27.000000,8408.191126,4.705597,0,1,0,0,1,1,0,0,1
396,51.492308,3.0,0.0,110.000000,6.000000,2.700000,9.100000,26.000000,9200.000000,3.400000,0,1,0,0,1,1,0,0,1
397,51.492308,0.0,0.0,207.000000,6.800000,5.500000,8.500000,38.868902,8408.191126,4.705597,0,0,0,0,1,1,0,0,1
398,51.492308,0.0,0.0,100.000000,1.000000,5.000000,16.300000,53.000000,8500.000000,4.900000,0,0,0,0,1,1,0,0,0

In [11]:
dep

0      1
1      1
2      1
3      1
4      1
      ..
394    1
395    1
396    1
397    1
398    0
Name: classification_yes, Length: 399, dtype: uint8

In [12]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(indep,dep, test_size = 0.30, random_state = 0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import GridSearchCV

param_grid = {'criterion' : ['gini','entropy'],
              'splitter': ['best', 'random'],
              'max_features': ['auto', 'sqrt','log2']
              }
grid = GridSearchCV(DecisionTreeClassifier(),param_grid,refit = 'True', verbose = 3,cv = 5,n_jobs = -1, scoring = 'f1_weighted')
#fiiting the model for grid
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             refit='True', scoring='f1_weighted', verbose=3)

In [15]:
#print best parameter after tuning 
#print(grid.best_params_)

re = grid.cv_results_

grid_predictions = grid.predict(X_test)



from sklearn.metrics import confusion_matrix
cm = confusion_matrix (Y_test,grid_predictions)

#print classification report

from sklearn.metrics import classification_report

clf_report  = classification_report(Y_test,grid_predictions)

In [16]:
from sklearn.metrics import f1_score

f1_macro = f1_score(Y_test,grid_predictions,average = 'weighted')

print('The R_score vlaue for best parameter {}:'.format(grid.best_params_),f1_score)

The R_score vlaue for best parameter {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'random'}: <function f1_score at 0x0000020FB51241F8>

In [17]:
print (cm)

[[45  0]
 [ 5 70]]

In [18]:
print (clf_report)

              precision    recall  f1-score   support

           0       0.90      1.00      0.95        45
           1       1.00      0.93      0.97        75

    accuracy                           0.96       120
   macro avg       0.95      0.97      0.96       120
weighted avg       0.96      0.96      0.96       120

In [19]:
from sklearn.metrics import roc_auc_score

roc_auc_score(Y_test,grid.predict_proba(X_test)[:,-1])

0.9666666666666667

In [20]:
table = pd.DataFrame.from_dict(re)

In [21]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.335888,0.158614,0.034384,0.034940,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.982221,0.888158,0.929513,0.911105,0.963247,0.934849,0.034126,12
1,0.012792,0.008202,0.022987,0.023362,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.964572,0.964286,0.929144,0.964286,0.945682,0.953594,0.014209,8
2,0.005597,0.000489,0.010395,0.002575,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.947015,0.964286,0.912029,0.946153,0.926494,0.939195,0.018102,11
3,0.006794,0.000747,0.010994,0.002280,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.911105,0.946153,0.982221,0.964572,0.981894,0.957189,0.026597,6
4,0.012793,0.006043,0.020787,0.012377,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.982221,0.927778,0.876984,0.963889,0.981728,0.946520,0.040006,10
5,0.023188,0.015411,0.028383,0.020951,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.964572,0.982221,0.947015,0.964286,0.981728,0.967964,0.013089,2
6,0.015391,0.008818,0.025387,0.013386,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.982221,0.945469,0.947015,0.946153,0.981728,0.960517,0.017528,5
7,0.062164,0.079579,0.056368,0.062893,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.982221,0.964572,0.982221,0.963889,0.981728,0.974926,0.008738,1
8,0.016388,0.008727,0.029986,0.010231,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.964572,0.964286,0.911692,0.964286,0.963636,0.953694,0.021004,7
9,0.011200,0.002476,0.023183,0.012739,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",1.000000,1.000000,0.982221,0.946663,0.909470,0.967671,0.035016,4
10,0.006597,0.000490,0.010394,0.001020,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.964286,0.964286,0.929513,0.964572,0.945185,0.953568,0.014141,9
11,0.005996,0.000896,0.007594,0.000490,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.982221,0.964572,0.982221,0.946663,0.963247,0.967785,0.013370,3